html{
    border:0;
    padding:0;
    margin:0;
}

body{
    font-family:serif;
    font-size: 2vw;
    color: black;
    border:0;
    padding:0;
    margin:50px;
    max-width: 1000px;
}

a:hover{
    color: crimson;
}

section {
    font-size: 1.2em;
}

.emoji{
    padding: 0 5 0 10;
    font-size: 1.2em;
    text-decoration: none !important;
    vertical-align: sub;
    line-height: 1.2em;
}

.linear-wipe {
      width:100%;
      margin: 0 auto;
      color:#313131;
      font-size:1.5em;
      font-weight: bold;
      -webkit-animation:colorchange 40s infinite alternate;
    }

    @-webkit-keyframes colorchange {
      0% {
        color: black;
      }
      10% {
        color: #8e44ad;
      }
      20% {
        color: #1abc9c;
      }
      30% {
        color: #d35400;
      }
      40% {
        color: blue;
      }
      50% {
        color: #34495e;
      }
      60% {
        color: blue;
      }
      70% {
        color: #2980b9;
      }
      80% {
        color: #f1c40f;
      }
      90% {
        color: #2980b9;
      }
      100% {
        color: pink;
      }
    }